body {
    background-color: black;
    background-image: url(./img/main.jpg);
background-size: cover;}
section{
    display: block;
}
.main-pic{
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 0 auto;
  
}
button{
    display: block;
    background-color: black;
    max-width: 792px;
    border: none;
    cursor: pointer;
    width: 100%;
    padding: 10px;
    font-family: 'Sedgwick Ave Display', cursive;
    font-size: 30px;
    color: rgb(110, 109, 109);
}
button:hover {
    color: rgb(152, 167, 23);
  }
p {
    font-family: 'Sedgwick Ave Display', cursive;
    font-size: 40px;
}
h2{
    margin-top: 1%;
    text-align: center;
    color: white;
    font-family: 'Courier New', Courier, monospace;
}
header{
    display: flex;
    max-width: 1440px;
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    vertical-align: middle;
}

#submitBtn, #planetBtn,input{
    margin: 10px;
    display: block;
    width: fit-content;
    display: flex;
    text-align: center;
    border-radius: 20px;
    height: 50px;
    padding: 5px;
    vertical-align: middle;
}
ul{
    margin: 0 auto;
    max-width: 1440px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 100%;
    font-family: 'Courier New', Courier, monospace;
    text-shadow: 2px 2px #040404;
}
li{
   margin: 5px;
    display: block;
    color: aliceblue;
}
.results-container {
   max-width: 1440px;
   width: 100%;
    margin: 0 auto;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
   color: aliceblue;
   /* background-color: rgb(38, 49, 45); */
   font-family: 'Courier New', Courier, monospace;
   text-shadow: 2px 2px #040404;

}