container {
    margin: 0 auto;
    display: block;
    padding-top: 20px;
    text-align: center;
    justify-content: center;
}
button {
    width: 100px;
    height: 50px;
    color: aliceblue;
    border-radius: 20px;
    display: inline-block;
    vertical-align: middle;
    background-color: rgb(22, 151, 226);
}
p{
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}